tr.table-row:not(.expanded-row):hover {
    background: whitesmoke;
    
  }
  
tr.table-row:not(.expanded-row):active {
    background: #efefef;
    
}

tr.table-row:hover {
    cursor: pointer;
}

tr.ingredients-table-row {
    height:0 ;
    max-height: 0px ;
    

   
}

.ingredient-header-row {
    z-index: 20;
}


.ingredient-table {
    
    
    flex-direction: column;

    justify-content: space-around;
    overflow:hidden;
    
    
    
    width: 100%;
    
    .ingredient-header-cell {

        font-size: 22px;
        color:#ffb200;
    }

    
}
  