<div class="container"> 



    <mat-toolbar  class="header">
        <img class="logo" src="../../../../assets/images/foodletlogoTransparent.png">
        
        <div *ngIf="verifyLoggedIn(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button mat-raised-button color="primary" (click)="logout()">Logout</button> 
     
        </ng-template>
        <ng-template #elseBlock>
            <button mat-raised-button color="primary" (click)="goToLogin()">Login</button>
        </ng-template>
           
    </mat-toolbar>
    <mat-divider></mat-divider>
    
    <div class="main">
        <mat-card class="sidenav mat-elevation-z7">
            
            <mat-toolbar class="sidenav-toolbar"> <p>Menu</p> </mat-toolbar>
            
                <div class="sidenav-button-container">
                    
                    <a routerLink='home' class="sidenav-button">
                        Home 
                    </a>
                    
                    <a routerLink='ingredients' class="sidenav-button">
                        Ingredients
                    </a>
                    
                    <a routerLink='recipes' class="sidenav-button">
                        Recipes
                    </a>
                    
                </div>
            
            

        </mat-card>

        
        <div class="content">
            <mat-card class="mat-elevation-z15">
                <router-outlet ></router-outlet>
            </mat-card>
        </div>
     
    </div>

</div>