.ingredient-dialog-container {

    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    .dialog-title {
        #dialog-title-text {
            font-size: 30px;
            font-weight: bold;
            color: #ffb200;
        }
    }

    .add-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        height: 45%;
        width: 90%;


        .subtitle {
            font-size: 20px;
        }

    
        .form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

        }
        
        
        
    }
    button {
        background-color: var(--themepurple);
        color:white;
        text-align: center;

        font-size: 20px;
        width: 12%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button:hover {
        background-color: green;

        transition-duration: 250ms;
    }

    .message-section {
        color:orangered;
        height: 12px;
        font-size: 18px;
    }
}