<div class="container">
    
    <mat-card class="form-container">
        <mat-toolbar  class="form-header">
            <img class="logo" src="../../../../assets/images/foodletlogoTransparent.png">
            
        </mat-toolbar>

        
        <nav mat-tab-nav-bar dynamicHeight mat-stretch-tabs mat-align-tabs="center" animationDuration="200ms">
            <a mat-tab-link  [active]=true>
                Login
            </a>
            <a mat-tab-link (click)="goToRegister()"  [active]=false>
                Register
            </a>
        </nav>
        
        <mat-card-content class="form-section"> 

            <form [formGroup]="loginForm" class="form">
                <mat-form-field appearance="outline">
                    <mat-label>Username / Email</mat-label>
                    <input matInput required placeholder="Username or Email" formControlName="username"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput required placeholder="Password" type="password" formControlName="password"/>
                </mat-form-field>

            </form>

            
            
            
            <button mat-raised-button color="primary" (click)="login()">
                Login
            </button>
            
            <div class="message-section">
                <p id="message">
                        
                </p>
            </div>

        </mat-card-content>
           
        
    </mat-card>
</div>