<div class="ingredient-list-item">
    
        <mat-divider vertical class="divider"> </mat-divider>

        <div class="ingredient-name">
            {{name | caps}}
        </div>

        <mat-divider vertical class="divider"> </mat-divider>

        <div class="ingredient-grams">
            {{grams | gramspipe}}
        </div>

        <mat-divider vertical class="divider"> </mat-divider>

        <div class="remove-button-container">
            <mat-icon (click)="remove()" class="remove-button">close</mat-icon>
        </div>
        
        <mat-divider vertical class="divider"> </mat-divider>

 
    </div>
    
  