.content-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    border-radius: 12px;

    .content-header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        

        .content-header-toolbar {
            background-color:rebeccapurple;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom: 4px solid rebeccapurple;
            display: flex;
            justify-content: flex-end;
            p {
                font-size: 45px;
                font-weight: bolder;
                padding-top: 5px;
                margin-right: 40px;
                color: rgb(60, 20, 75);
                
            }
        }

        .search-add-container {
            
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .search-field {
                width: 50%;
                font-size: 18px;
                display: flex;
                justify-content: flex-start;
                
                ::ng-deep .mat-form-field-wrapper{
                    margin: 0 !important;
                    padding: 0 !important;
                }
                mat-form-field {
                    width: 100%;
                                 
                    
                }
            }

            .add-button {
                font-size: 22px;
                height: 80%;
                width: 4em;
                background-color: var(--themepurple);
                color: white;
                text-align: center;
            }

            .add-button:hover {
                background-color: green;
                transition-duration: 350ms;
            }
        }
        
    }

    
    .table-container {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 75%;
        margin-bottom: 25px;

        .table {
            width: 100%;
            overflow: hidden;
            border-top: 3px solid rebeccapurple;
            border-left: 3px solid rebeccapurple;
            border-right: 3px solid rebeccapurple;

            .header-cell {

                font-size: 22px;
                color:#ffb200;
            }

            .header-cell-name {
                text-align: center;
            }

            .name-cell {
                display: flex;
                
                align-content: center;
                color: slateblue;//var(--themepurple);

                .name-cell-buttons {
                    display:flex;
                    justify-content: space-between;
                 
                    
                    :first-child {
                        padding-top: 5px;
                        padding-right: 8px;
                        color:black;
                        
                    }

                    :first-child:hover {
                        color:red;
                        transform: scale(1.25);
                        transition-duration: 200ms;
                        cursor: pointer;
                    }

                    :last-child:hover {
                        color: #ffb200;
                        transform: scale(1.25);
                        transition-duration: 200ms;
                        cursor: pointer;
                    }
                    
                    :last-child{
                        padding-top: 5px;
                        padding-right:8px;
                        padding-left: 8px;
                        color:black;
                    }
                }

                .button-divider {
                    height: 45px;
                }
                

                p {
                    padding-left: 24px;
                    padding-top: 8px;
                }
            }
            
            .header-row {
                background-color: rebeccapurple;

            }

            .table-cell {
                padding-top:3px;
                font-size: 18px;
                font-weight: bold;
                color: slateblue;
                
                
            }

            
        }

        .table-paginator {
            width: 100%;
            
            border: 3px solid rebeccapurple;

            border-radius: 4px;

        }


    }
}