<div class="dialog-container">

    <div class="dialog-title">
        <p id="dialog-title-text">
            {{data.titleText}}
        </p>
        
    </div>

    <mat-card class="form-section"> 
        <p class="subtitle">
            Use the Add button to add ingredients 
        </p>

        <div class="form-add-container"> 

            <form [formGroup]="recipeForm" class="form">
                
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput required placeholder="Name" type="text" formControlName="name"/>
                </mat-form-field>
                
                
                <mat-form-field appearance="outline">
                    <mat-label>Serving Size</mat-label>
                    <input matInput required placeholder="Per portion" type="number" formControlName="servingSize"/>
                </mat-form-field>
                
            </form>         
            
            <button mat-raised-button class="add-ingredient-button mat-elevation-z6" (click)="openIngredientDialog()">
                Add
            </button>
            
        </div>

        <mat-card id="ingredient-container-card" class="ingredients-container-card">
            
            <mat-toolbar class="ingredients-container-header">
                <div class="recipe-ingredient-name">
                    Ingredients
                </div>
                
            </mat-toolbar>
            <div class="ingredients-container">

                <app-recipeingredient 
                *ngFor="let ingredient of recipeIngredients" 
                [name]="ingredient.name" 
                [grams] = "ingredient.grams"
                (removed)="removeIngredient($event)">
                    
                </app-recipeingredient>
            </div>
        
        </mat-card>
    </mat-card>

    <button mat-raised-button class="mat-elevation-z6" (click)="sendData()">
        {{data.buttonText}}
    </button>

    <div class="message-section">  
            <p id="message">
            {{message}}
            </p>
    </div>
</div>